@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Ubuntu&display=swap%27');
* {
    font-family: 'Ubuntu',sans-serif;
}
.container {
    display: flex;
    background-color: transparent;
    width: 500px;
    margin: auto;
    text-align: center;
    justify-content: center;
    box-shadow: skyblue 0 5px 15px;
}
.container-login h1 {
 font-family: 'Raleway',sans-serif;
}
.container-login p {
    font-family: 'Montserrat',sans-serif;
}
.containerImage {
    margin: auto;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.containerText {
    flex-direction: column;
    align-items: center;
}
.containerText input {
    background:transparent;
    outline: none;
    width: 50%;
    height: 30px;
    margin-top: 5px;
    padding: 8px;
    border: 0;
    border-bottom:2px solid #232323;
    transition: 300ms border-color;
    font-size:15px;
}
.containerText input:hover {
    border-bottom:2px solid skyblue;
}
.containerSign {
    margin: 20px 20px;
}
.containerSign button {
    cursor: pointer;
    border-radius: 6px;
    border:2px solid skyblue;
    height: 40px;
    width: 50%;
    font-size: 15px;
    background-color: transparent;
    color:#232323;
    transition: 1s ;
}
.containerSign button:hover {
    background-color: skyblue;
}